<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Editor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link
      href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="iframeContainer"></div>
    <header class="header"><h1>Database Editor</h1></header>

    <section id="mainSection">
      <nav class="nav">
        <button class="actionButtons" onclick="home()">Upload</button>
        <button class="actionButtons" id="deleteBt" onclick="deleteMessage()">Delete</button>
        <button class="actionButtons" onclick="addPopUp()">Add</button>
        <button class="actionButtons" onclick="">Download</button>
      </nav>

      <div id="message"></div>

      <div class="container">
        <table id="dataTable">
          <thead>
            <tr id="table-header"></tr>
          </thead>
          <tbody id="table-body"></tbody>
        </table>

        <div class="buttons">
          <button class="pageBt" onclick="loadData('prev')">Prev Page</button>
          <button class="pageBt" onclick="loadData('next')">Next Page</button>
        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='deleteData.js') }}"></script>
    <script src="{{ url_for('static', filename='addData.js') }}"></script>
    <script src="{{ url_for('static', filename='editData.js') }}"></script>
    <script src="{{ url_for('static', filename='download.js') }}"></script>
  </body>
</html>
