<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Editor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link
      href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <h2>Database Editor</h2>
    </header>
    <p class="welcomeMessage">Welcome to the Database Editor</p>

    <p class="message">
      In this website you can delete, edit and add data to you database straight from your browser
    </p>
    <section class="landingMain">
      <div class="formContainer upload">
        <form class="uploadForm">
          <input type="file" id="dbFile" name="dbFile" accept=".db" />
          <button type="button" class="pageBt" onclick="uploadDB()">Upload</button>
        </form>
      </div>
    </section>

    <script src="{{url_for('static', filename='uploadDB.js')}}"></script>
  </body>
</html>
