<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="margin: 0px">
    <div class="deletionContainer">
      <div class="messageBox">
        <header><h2>Are you sure you want to delete?</h2></header>
        <div class="yesOrNoBt">
          <button class="pageBt" onclick="deleteData()">Yes</button>
          <button class="pageBt" onclick="cancel()">No</button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='dataHandling.js')}}"></script>
  </body>
</html>
