body {
  font-family: "LINE Seed JP", sans-serif;
  margin: 20px;
}

#mainSection {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

header {
  margin: 0px;
  text-align: center;
}

.nav {
  margin: 0px;
  width: 100%;
  height: 25px;
  border: 1px solid #ddd;
  background-color: #dddddd;
}

.actionButtons {
  all: unset;
  margin: 0pxl;
  height: 100%;
  width: 60px;
  text-align: center;
  border: 0px;
  border-radius: 0px;
  font-size: 15px;
}

.actionButtons:active {
  background-color: #777777;
  border-radius: 0px;
}

.actionButtons:hover {
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  font-size: small;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

#message {
  margin: 0px;
  width: 100vw;

  text-align: center;
}

.checkBox {
  margin: 5px;
  width: 15px;
  height: 15px;
}

#checkContainer {
  margin: 0px;
  padding: 0px;
  width: 5px;
}

.pageBt {
  width: 150px;
  height: 30px;
  border: solid 1px #9e9e9e;
  border-radius: 5px;
}

.pageBt:active {
  border: solid 1px black;
  border-radius: 5px;
  background-color: #e6e6e6;
}

.formContainer {
  display: inline-block;
  padding: 50px;
  border: 1px solid black;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.addDataContainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rowBehavior:hover {
  background-color: #ececec;
}

#popUpWindow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #9e9e9e4d;
  backdrop-filter: blur(5px);
}

.deletionContainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.messageBox {
  display: inline-block;
  padding: 50px;
  border-radius: 8px;
  background-color: white;
}

.yesOrNoBt {
  display: flex;
  justify-content: center;
  gap: 8px;
}
