<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link
      href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <headed class="header"><h2>Database Editor</h2></headed>

    <form>
      <input type="file" id="dbFile" name="dbFile" />
      <button type="button" onclick="uploadDB()">Upload</button>
    </form>

    <script src="{{url_for('static', filename='uploadDB.js')}}"></script>
  </body>
</html>
